# IGNORE EVERYTHING IN ROOT FOLDER ...
/*
# ... EXCEPT
# git files
!.gitattributes
!.gitignore

# IGNORE EVERYTHING IN TUTORIALS FOLDER ...
!/tutorials/
/tutorials/*
!/tutorials/*/
/tutorials/*/*
!/tutorials/*/*/
/tutorials/*/*/*
!/tutorials/*/*/*/
/tutorials/*/*/*/*
# ... EXCEPT
# Error analysis results
!/tutorials/*/*/*/error_analysis/
/tutorials/*/*/*/error_analysis/*
!/tutorials/*/*/*/error_analysis/*/
/tutorials/*/*/*/error_analysis/*/*
!/tutorials/*/*/*/error_analysis/*/*.csv
# Files for offline stage post processing
!/tutorials/*/*/*/post_processing/
/tutorials/*/*/*/post_processing/*
!/tutorials/*/*/*/post_processing/*.txt
# Testing set
!/tutorials/*/*/*/training_set/
/tutorials/*/*/*/training_set/*
!/tutorials/*/*/*/training_set/*.txt
# Training set
!/tutorials/*/*/*/testing_set/
/tutorials/*/*/*/testing_set/*
!/tutorials/*/*/*/testing_set/*.txt

# IGNORE EVERYTHING IN TESTS FOLDER ...
!/tests/
/tests/*
!/tests/*/
/tests/*/*
!/tests/*/*/
/tests/*/*/*
!/tests/*/*/*/
/tests/*/*/*/*
!/tests/*/*/*/*/
/tests/*/*/*/*/*
!/tests/*/*/*/*/*/
/tests/*/*/*/*/*/*
!/tests/*/*/*/*/*/*/
/tests/*/*/*/*/*/*/*
# ... EXCEPT
# Error analysis results
!/tests/methodology/*/*/*/*/*/error_analysis/
/tests/methodology/*/*/*/*/*/error_analysis/*
!/tests/methodology/*/*/*/*/*/error_analysis/*/
/tests/methodology/*/*/*/*/*/error_analysis/*/*
!/tests/methodology/*/*/*/*/*/error_analysis/*/*.csv
# Files for offline stage post processing
!/tests/methodology/*/*/*/*/*/post_processing/
/tests/methodology/*/*/*/*/*/post_processing/*
!/tests/methodology/*/*/*/*/*/post_processing/*.txt
# Testing set
!/tests/methodology/*/*/*/*/*/training_set/
/tests/methodology/*/*/*/*/*/training_set/*
!/tests/methodology/*/*/*/*/*/training_set/*.txt
# Training set
!/tests/methodology/*/*/*/*/*/testing_set/
/tests/methodology/*/*/*/*/*/testing_set/*
!/tests/methodology/*/*/*/*/*/testing_set/*.txt
